h1{
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    color: antiquewhite;
    font-size: 50px;
}

 .fondo{
    background-color: #1a3003;
    padding-top: 50px;
} 

/* .grid-container {
    display: grid;
    grid: 150px/  100px 100px 100px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 5px;
  }
  
.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px ;
font-size: 30px;
} */


body{
    background-color: black;
    color:white;
    font-family: 'Indie Flower ';

}
.centered-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.tricki-row{
    /* background-color: rgb(202, 214, 132); */
}

.tricki-cell{
    /* background-color:#bcbe29; */
        /* background-color: #062726; */
       
        border-radius: 15px;
        font-size: 50px;
        margin-left: 50px;
        margin-right: 50px;
        height: 125px; 
        width: 125px;
    }
    

.main-container{
    /* background-color: red;  */
    flex-direction: column;
    padding: 50px;
    padding-right: 0px;
    padding-left: 0px;
    width: 90vw; 
}

.onhover-card{
    transform: scale(1.15);
}

.adjustCard{
    /* background-image: url(../img/black.jpg); */
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    padding: 0;
    margin: 0;
}